.c-page-foot {
  background: url('../images/wave.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: $spacing-unit--huge $spacing-unit $spacing-unit;
  font-weight: lighter;

  // height: 130px;
  // display: block;


  &__copyright,
  &__nav {
    text-align: center;
  }

  &__copyright {
    @include mq(tablet) {
      text-align: left;
    }
  }

  &__nav {
    @include mq(tablet) {
      text-align: right;
    }
  }
}
