@mixin triggers() {
  @include font-size(36px);
  font-family: sans-serif;
  text-transform: uppercase;

  &:hover,
  &:focus {
    text-decoration: none;
  }

}

.c-site-nav {
  $masthead-selector: c-page-head--masthead;
  $site-nav__logo-width: 38px;
  $site-nav__logo-height: 40px;

  @include clearfix;
  position: relative;
  display: block;
  width: 100%;
  z-index: 100;

  &__brand {
    display: block;
    float: left;
  }

  &__logo {
    display: inline-block;
    width: $site-nav__logo-width * 0.8;
    height: $site-nav__logo-height * 0.8;
    transition: all $global-transition;

    @include mq(desktop) {
      width: $site-nav__logo-width;
      height: $site-nav__logo-height;
    }

    &-fill {
      fill: white;
      transition: fill $global-transition;
    }
  }

  &__open {
    @include triggers();
    float: right;
    color: #fff;
    margin-top: $spacing-unit;

    &:before {
      content: "☰";
    }

    @include mq(tablet) {
      display: none;
    }

  }

  &__target {
    position: fixed;
    top:  0;
    left: 0;
  }

  &__list {
    margin:  0;
    padding: 0;
    list-style: none;

    position: fixed;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    z-index: 10;

    transform: translateX(100%);
    transition: 0.2s;
    will-change: transform;
    background-color: rgba(darken($primary-color, 30%), 0.9);

    .c-site-nav__target:target + & {
      transform: none;
    }

    @include mq(tablet) {
      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      float: right;
      background-color: transparent;
      overflow: visible;
      transform: none;
    }
  }

  &__item {
    padding: $spacing-unit--small;

    @include mq(tablet) {
      position: relative;
      float: left;
    }
  }

  .site-nav__item--close {
    padding: $spacing-unit $spacing-unit 0 0;
    text-align: right;

    @include mq(tablet) {
      display: none;
    }
  }

  .site-nav__close {
    @include triggers();
    text-align: right;

    &:after {
      content: " ×";
      @include font-size($spacing-unit--large);
    }

  }

  &__link {
    display: block;
    color: white;

    @include attention() {
      text-decoration: none;
      color: darken(#fff, 20%);
      border-bottom: 1px solid darken(#fff, 20%);
    }

    &--active {
      border-bottom: 1px solid white;
    }
  }
}
